.bio-desc{
  padding: 2em 0;
  h1{
    line-height: 2;
    font-weight: 400;
    text-align: center;
  }
  span{
    color: $red;
    transition: 0.5s ease;
    &:hover{
      opacity: .5;
    }
  }
}

.bio-social{
  .icons{
    width: 100%;
    display: flex;
    justify-content: center;

    a{
      margin: 0 2em;
      font-size: $title;
      color: $black;
      transition: 0.5s ease;
  }
}
}

