.post-cover{
  height: 60vh;
  width: 100%;
}
.post-headline{
  min-height: 40vh;
  padding: 3em 0;
}
.post-img{
  margin: 10px;
}

@media only screen and (max-width: 600px) {
    .post-headline {
        text-align: center;
    }
    .bio-desc{
      font-size: $text;
    }
    h1{
      font-size: $subtitle;
    }
}


.story-post{
  padding: 8em 0;
  .story-title{
    color: $red;
  }
  .story-details{
    p{
      margin: 0;
    }
  }
  .story-content{
    margin: 2em 0;
  }
}
