<div class="portfolio-footer">
  <div class="container">
    <div class="footer-mssg col-sm-12">
      <h1>Any inquiries or professional opportunities are warmly welcomed.</h1>
      <a href="mailto:test@gmail.com" >Feel free to say Hola!</a>
    </div>
  </div>
</div>
