<nav class="navbar sticky-top portfolio-nav">
  <div class="container">
    <div class="nav-element"><%= link_to 'work', projects_path, class: 'nav-links' %></div>
    <div class="nav-element"> <%= link_to 'me', bio_path, class: 'nav-links' %></div>
    <div class="nav-element"><%= link_to 'blog', stories_path, class: 'nav-links' %></div>
  </div>
</nav>
