<% content_for :title, "Work" %>
<div class="container">
  <div class="row flex-innerheight">
    <% @projects.each do |project| %>
    <a class="posts-item col-md-12" href="<%= project_path(project) %>">
      <div class="posts-img" style="background-image: url('<%= url_for(project.cover) if project.cover.attached? %>');">
        <div class="posts-text">
          <h1><%= project.title%></h1>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
