<div class="container">
  <div class="row flex-fullheight justify-content-center align-items-center">
    <div class="bio-desc col-md-10">
      <h1>Daniel Polo is a male-type creative technologist. He <span><%= icon('fas', 'heart') %></span> the internet, sci-fi, arts and discovering the world.<br>After graduating from the Architecture School in Mexico City, Daniel Polo paused his architecture passion searching for new ones... then coding came to him.</h1>
    </div>
  </div>
</div>
