<% content_for :title, "About" %>
<div class="container">
  <div class="row flex-fullheight justify-content-center align-items-center">
    <div class="bio-desc col-md-10">
      <h1>Daniel Polo is a male-type creative technologist. He is crazy for the internet, sci-fi, arts and media. After graduating from the Architecture School in Mexico City, Daniel Polo paused his architecture passion searching for new ones... then coding came to him.<br>He is a curious young man who always wants to understand "how" everything, so Daniel <em>googles</em> a lot. He also thinks he's been cursed because of that.<br><br>Daniel Polo <span><%= icon('fas', 'heart') %></span> espresso and tacos.</h1>
    </div>
  </div>
</div>
