<div id="main_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner fullheight">
    <div class="carousel-item active">
      <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@last.first.cover) %>");'></div>
      <h1 class="carousel-title d-none d-md-block"><%= @last.first.title %></h1>
    </div>
     <div class="carousel-item ">
      <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@last.last.cover) %>");'></div>
      <h1 class="carousel-title d-none d-md-block"><%= @last.last.title %></h1>
    </div>
  </div>
</div>
