.portfolio-footer{
  margin-top: 4em;
  background-color: $blue;
  height: $navbar*4;
  .container{
    height: 100%;
  }
  .footer-mssg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;

    h1{
      color: $white;
    }
    a{
      color: $yellow;
      font-size: $title;
      font-weight: 600;
      text-decoration: none;
      transition: 1s ease;
      &:hover{
        color: $red;
      }
    }
  }
}
