.like-btn{
  text-align: center;
  padding-bottom: 1em;
}

.heart{
  background-color: $gray;
  width:$title;
  height:$title;
  margin: auto;
  position: relative;
  top:$title/4; bottom: 0;
  left: 0; right: 0;
  transform: rotate(-45deg);
  transition: 0.5s ease;
  &:before, &:after {
    content: '';
    width:$title;
    height:$title;
    border-radius: 50%;
    background-color: $gray;
    position: absolute;
    transition: 0.5s ease;
  }
  &:before {
    top: -$title / 2;
    left: 0;
  }
  &:after {
    top: 0;
    left:$title / 2;
  }
  &.love {
    background: $red;
    &:before,
    &:after {
      background: $red;
    }
  }
  &.active {
    animation: grow-shrink .3s ease 1;
  }
  &:hover {
    background: $red;
    &:before,
    &:after {
      background: $red;
    }
  }
}

@keyframes grow-shrink {
  40% { transform: scale(1.1) rotate(-45deg); }
  75% { transform: scale(.9) rotate(-45deg); }
  100% { transform: scale(1) rotate(-45deg); }
}
