.portfolio-nav{
  display: flex;
  height: $navbar;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  // box-shadow: 0 0 40px rgba(0,0,0,0.1);
  margin-bottom: 0;
  .nav-element{
    text-align: center;
    .nav-links{
      font-size: $title;
      font-weight: bold;
      text-decoration: none;
      color: $black;
      transition: 0.5s ease;
      &:hover{
        color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
    .portfolio-nav{
      height: $navbar * 1.5;
    }
}
