.portfolio-nav{
  display: flex;
  height: $navbar;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  // box-shadow: 0 0 40px rgba(0,0,0,0.1);
  margin-bottom: 0;

  .container{
    .nav-element{
      &:nth-child(1){
        a{
          &:hover{
            color: $blue;
          }
        }
      }
      &:nth-child(2){
        a{
          &:hover{
            color: $yellow;
          }
        }
      }
      &:nth-child(3){
        a{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
  .nav-element{
    text-align: center;
    .nav-links{
      font-size: $title;
      font-weight: bold;
      text-decoration: none;
      color: $black;
      transition: 0.5s ease;
    }
  }
}

@media only screen and (max-width: 600px) {
    .portfolio-nav{
      height: $navbar * 1.5;
    }
}
