.portfolio-nav{
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 40px rgba(0,0,0,0.1);

  .nav-element{
    width: 20%;
    text-align: center;

    .nav-links{
    font-size: $title;
    font-weight: bold;
    text-decoration: none;
    color: $black;
    }
  }
}
