/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
*/

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/variables";
/*@import "config/bootstrap_variables";*/

// External libraries
@import "bootstrap";
// @import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
/*@import "layouts/index";*/
@import "components/index";
@import "pages/index";


// General rules
 ::-moz-selection { /* Code for Firefox */
    color: $black;
    background: $yellow;
}

::selection {
    color: $black;
    background: $yellow;
}

body{
  font-family: $base-font !important;
  background-color: $white;
  color: $black;
}

h1{
  font-size: $title;
  font-weight: 600;
}

h2{
  font-size: $subtitle;
  font-weight: 600;
}

p{
  font-size: $text;
  font-weight: 400;
}

.wrapper_fullscreen{
  width: 100vw;
  height: 100vh;
}

.innerheight{
  height: 100vh - $footer - $navbar;
}

.flex-innerheight{
  min-height: 100vh - $footer - $navbar;
}

.fullheight{
  height: 100vh - $navbar;
}

.flex-fullheight{
  min-height: 100vh - $navbar;
}

.fullwidth{
  width: 100vw;
}

.fullfill{
  width: 100%;
  height: 100%;
}

.basic-padding{
  padding: 4em 0;
}

.nav-margin{
  margin-top: $navbar;
}
